<h1>Fetch data examples</h1>
<h2>Simple fetch and alert</h2>
<p>
  <button type="button" (click)="fetchWithAlert()">Fetch</button>
</p>

<h2>Results</h2>

<p [hidden]="!loading">
  Loading results...
</p>

<div [hidden]="!lastError" class="error">
  <h2>Encountered error:</h2>
  <div [hidden]="!lastError">
    {{lastError | json}}
  </div>
  <div *ngIf="lastError && lastError.statusText && (lastError.statusText.length > 0)">
    {{lastError.statusText}}
  </div>
</div>

<table [hidden]="loading || !posts">
  <thead>
    <th>User id</th>
    <th>Id</th>
    <th>Title</th>
    <th>Body</th>
  </thead>
  <tr *ngFor="let item of posts">
    <td>{{item.userId}}</td>
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.body}}</td>
  </tr>
</table>