<h1>Fetch data examples</h1>
<h2>Simple fetch and alert</h2>
<p>
  <button type="button" (click)="fetchAllPosts()">Fetch</button>
</p>

<h2>Results</h2>

<p [hidden]="!loading">
  Loading results...
</p>

<div [hidden]="loading">
  <div [hidden]="!lastError" class="error">
    <h2>Encountered error:</h2>
    <div [hidden]="!lastError">
      {{lastError | json}}
    </div>
    <div *ngIf="lastError && lastError.statusText && (lastError.statusText.length > 0)">
      {{lastError.statusText}}
    </div>
  </div>

  <h3>Filter in memory</h3>
  search body <input type="text" name="searchText" [(ngModel)]="searchText" (keyup)="searchTextChanged($event)">

  <app-posts-grid [posts]="postsView"></app-posts-grid>
</div>

<!--filtered Posts:
<pre>
  {{filteredPosts | json}}
</pre>-->