<h1>Fetch data examples</h1>
<h2>Simple fetch and alert</h2>

<div>
  <button type="button" (click)="fetchWithAlert()">Fetch</button>
</div>

<!--<pre>
  {{posts | json}}
</pre>-->

<div [hidden]="!lastError" class="error">
  <h2>Encountered error</h2>
  <div [hidden]="!lastError">
    {{lastError | json}}
  </div>
  <div *ngIf="lastError && lastError.statusText && lastError.statusText.length > 0">
    {{lastError.statusText}}
  </div>
</div>

<div *ngIf="loading">
  Loading results...
</div>

<div [hidden]="loading || !posts">
  <h2>Results</h2>

  <app-posts-grid [posts]="posts"></app-posts-grid>
</div>