<h1>Fetch data examples</h1>
<h2>Simple fetch and alert</h2>

<div>
  <button type="button" (click)="fetchWithAlert()">Fetch</button>
</div>

<!--<pre>
  {{posts | json}}
</pre>-->

<div [hidden]="!lastError" class="error">
  <h2>Encountered error</h2>
  <div [hidden]="!lastError">
    {{lastError | json}}
  </div>
  <div *ngIf="lastError && lastError.statusText && lastError.statusText.length > 0">
    {{lastError.statusText}}
  </div>
</div>

<div *ngIf="loading">
  Loading results...
</div>

<div [hidden]="loading">
  <h2>Results</h2>

  <h3>FIlter in memory</h3>

  search body <input type="text" name="searchText" [(ngModel)]="searchText" (keyup)="searchTextChanged($event)">

  <app-posts-grid [posts]="postsView"></app-posts-grid>
</div>